<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <mappers>
        <mapper resource="com/dao/SwiperMapper.xml"></mapper>
        <mapper resource="com/dao/DisplayImgMapper.xml"></mapper>
        <mapper resource="com/dao/DiscussImgMapper.xml"></mapper>
        <mapper resource="com/dao/SearchImgMapper.xml"></mapper>
        <mapper resource="com/dao/UserMapper.xml"></mapper>
        <mapper resource="com/dao/FoodSwiperMapper.xml"></mapper>
        <mapper resource="com/dao/DisplayFoodImgMapper.xml"></mapper>
        <mapper resource="com/dao/DiscussFoodImgMapper.xml"></mapper>
        <mapper resource="com/dao/SearchFoodImgMapper.xml"></mapper>
    </mappers>

</configuration>